<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil Académico</title>
    <link rel="stylesheet" href="">
</head>
<body>


    <div class="header">
        <div class="menu-toggle">☰ Personal Académico</div>
        <div class="notification">
            <img src="../../../assets/campana'.png" alt="Notificaciones">
            <div class="notification-count">0</div>
        </div>
    </div>

    

    <div class="sidebar">
        <div class="dropdown">
            <a href="#">ㅤGeneral</a>
            <div class="dropdown-content">
                <a routerLink="/control">Control de usuarios</a>
                <a routerLink="/admin">Gestión de incidencias</a>
                <a href="/comen">Gestión de comentarios</a>
            </div>
        </div>
        
        <div class="dropdown">
            <a href="#">ㅤAdministrador</a>
            <div class="dropdown-content">
                <a routerLink="/control">Control de usuarios</a>
                <a routerLink="/admin">Gestión de incidencias</a>
                <a href="/comen">Gestión de comentarios</a>
            </div>
        </div>
      
        <div class="dropdown">
            <a href="#">ㅤDocente</a>
            <div class="dropdown-content">
                <a routerLink="/doce">Actualizar Perfil</a>
                <a routerLink="/control">Control de usuarios</a>
                <a routerLink="/admin">Gestión de incidencias</a>
                <a href="/comen">Gestión de comentarios</a>
            </div>
        </div>
       
        <div class="dropdown">
            <a href="#">ㅤAlumno</a>
            <div class="dropdown-content">
                <a routerLink="/control">Control de usuarios</a>
                <a routerLink="/admin">Gestión de incidencias</a>
                <a href="/comen">Gestión de comentarios</a>
            </div>
        </div>
    </div>

</body>
</html>

<router-outlet />